<div class="pointInfoColumn">
    <div class="showInfoPoint">
        <img src="{{linkImage}}" alt="">
        <div class="content_showInfoPoint">
            <div class="barActionsPoint">
                <h1 class="textLimiter">{{name}}</h1>
                <div class="regionalIndicador">
                    <h1>{{regional}}</h1>
                </div>
                <div class="openShowInfo no-select">
                    <img src="assets/img/icons/icon-5.svg" alt="">
                </div>
            </div>
            <h3 class="textLimiter"><span class="subColor">Sobre:</span>{{aboutPoint}}</h3>
        </div>
    </div>
    <div class="infoPoint">
        <div class="row_infoPoint">
            <div class="content_infoPoint">
                <h3><span class="subColor">Sobre:</span>{{aboutPoint}}</h3>
                <h3><span class="subColor">Localização:</span>{{localPoint}}</h3>
                <h3><span class="subColor">Fundador(es):</span>{{founderPoint}}</h3>
            </div>
            <div class="timeAndPhotoInfo">
                <div class="timeBox">
                    <h1>Horario:</h1>
                    <div class="content_timeBox">
                        <div class="dayRow_timeBox">
                            <h1 class="textLimiter">Segunda-feira</h1>
                            <h1 class="colorTimeBox textLimiter closeTimeBox">{{timeDefault}}</h1>
                        </div>
                        <div class="dayRow_timeBox">
                            <h1 class="textLimiter">terça-feira</h1>
                            <h1 class="colorTimeBox textLimiter">{{timeDefault}}</h1>
                        </div>
                        <div class="dayRow_timeBox">
                            <h1 class="textLimiter">quarta-feira</h1>
                            <h1 class="colorTimeBox textLimiter">{{timeDefault}}</h1>
                        </div>
                        <div class="dayRow_timeBox">
                            <h1 class="textLimiter">quinta-feira</h1>
                            <h1 class="colorTimeBox textLimiter">{{timeDefault}}</h1>
                        </div>
                        <div class="dayRow_timeBox">
                            <h1 class="textLimiter">sexta-feira</h1>
                            <h1 class="colorTimeBox textLimiter">{{timeDefault}}</h1>
                        </div>
                        <div class="dayRow_timeBox">
                            <h1 class="textLimiter">sábado</h1>
                            <h1 class="colorTimeBox textLimiter">{{timeSabDom}}</h1>
                        </div>
                        <div class="dayRow_timeBox">
                            <h1 class="textLimiter">domingo</h1>
                            <h1 class="colorTimeBox textLimiter">{{timeSabDom}}</h1>
                        </div>
                    </div>
                </div>
                <img src="{{linkImage}}" alt="">
            </div>
        </div>
    </div>
</div>