<div class='layoutColumnInfoElementMap'>
    <div style='display: none;' class='buttonOpenInfoMap'> <img src='{{linkImage}}' alt=''>
        <div class='content_buttonOpenInfoMap'>
            <h2 class='textLimiter'>{{nameEvent}}</h2>
            <h3 class='textLimiter'>{{localEvent}}</h3>
            <h3>{{dateEvent}}</h3>
        </div>
    </div>

    <div class='buttonMapLocal'> <img src='{{linkImage}}' alt=''>
        <h2 class='textLimiter'>{{nameEvent}}</h2>
    </div>
</div>